/* ---------------CONFIGURACIÓN GENERAL------------------- */
body {
  font-family: "Poppins", Arial, sans-serif;
  background-color: #ffffff;
  margin: 0;
  padding: 0;
  padding-bottom: 140px; /* espacio para footer */
}

/* Header nombre de tienda */
.header-tienda {
  height: 55px;
  padding: 10px 20px;
  display: flex;
  align-items: center;
  font-size: 26px;
  font-weight: 600;
}

/* -----------CARRUSEL----------- */
.carousel.slide {
  width: 100%;
  max-width: 1024px;
  height: 328px;
  margin: 0 auto 24px;
  overflow: hidden;
  border-radius: 10px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
}

.carousel-inner img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 10px;
}

.carousel-indicators {
  bottom: 10px;
}

.carousel-indicators [data-bs-target] {
  background-color: #ccc;
  width: 12px;
  height: 12px;
  border-radius: 50%;
  margin: 0 4px;
  transition: .3s;
}

.carousel-indicators .active {
  background-color: #f20000;
}

/* -----------CATEGORÍAS------------------ */
.categorias {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 16px;
  padding: 8px 0;
}

.btn-categoria {
  width: 149px;
  height: 56px;
  display: flex;
  align-items: center;
  gap: 2px;
  padding: 6px 24px;
  font-size: 16px;
  background-color: #f0f3f6;
  border-radius: 4px;
  border: 1px solid #f0f3f6;
  transition: .2s;
}


.btn-categoria img.icono-categoria {
    width: 20px;
    height: 20px;
    object-fit: cover;
    border-radius: 50%;
    display: inline-block;
}


.btn-categoria.active {
  background-color: #dc3545;
  border-color: #dc3545;
  color: #fff;
  box-shadow: 0 3px 6px rgba(220, 53, 69, 0.25);
}

.btn-sandwich {
  width: 181px;
}

/* -----------GRID Y CARDS-------------------------- */
.cards-grid {
  display: grid;
  grid-template-columns: repeat(3, 293px);
  justify-content: center;
  gap: 24px 48px;
  margin-top: 48px;
}

.Card-Product-Preview {
  width: 293px;
  height: 420px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  border-radius: 12px;
  background: #fff;
  box-shadow: 0 0 12px #dfe3e6;
  transition: .2s;
}

.Card-Product-Preview:hover {
  transform: scale(1.02);
}

.Card-Product-Preview img {
  height: 240px;
  object-fit: cover;
  border-radius: 12px 12px 0 0;
}

.precio {
  width: 136px;
  height: 47px;
  flex-grow: 0;
  font-family: Roboto;
  font-size: 40px;
  font-weight: 300;
  text-align: center;
  color: #f20000;
}

.nombre-producto {
  font-size: 15px;
  color: #6c757d;
  margin-bottom: 20px;
}

/* ----------------FOOTER FIJO PRINCIPAL----------------------------------- */
.footer-carrito {
  position: fixed;
  bottom: 0;
  width: 100%;
  background:  #d7d7dd;
  padding: 12px 0;
  box-shadow: 0 -4px 10px rgba(0,0,0,0.1);
  z-index: 999;
}

.footer-content {
  max-width: 1024px;
  margin: auto;
  display: flex;
  justify-content: space-between;
  padding: 0 24px;
}

.btn-productos {
  min-width: 180px;
  border-radius: 15px;
}

.btn-productos .badge {
  background: white;
  color: black;
}

/* --------------POPUP PRODUCTO AGREGADO--------------------------------------------------- */
.popup-agregado {
  position: fixed;
  left: 50%;
  transform: translateX(-50%);
  bottom: 120px;
  background: #37c337;
  color: white;
  padding: 14px 28px;
  border-radius: 40px;
  font-size: 24px;
  opacity: 0;
  pointer-events: none;
  transition: .4s;
  box-shadow: 0 4px 14px rgba(0,0,0,.2);
  z-index: 9999;
  justify-content: center;
}

.popup-show {
  opacity: 1;
  bottom: 140px;
}

/* -------------MODALES BASE-------------- */
.modal-detalle {
  display: none;
  position: fixed;
  inset: 0;
  background: rgba(0,0,0,0.45);
  justify-content: center;
  align-items: center;
  z-index: 10000;
}

.modal-detalle.mostrar {
  display: flex;
}

/* --MODAL DETALLE PRODUCTO -------------- */
#modalDetalleProducto {
  position: fixed;
  inset: 0;
  background: rgba(0,0,0,0.45);
  display: none;
  justify-content: center;
  align-items: center;
  z-index: 2000;
}

#modalDetalleProducto.mostrar {
  display: flex;
}

.modal-detalle .modal-content {
  background-color: #fff;
  padding: 24px;
  border-radius: 12px;
  max-width: 500px;
  width: 90%;
  box-shadow: 0 4px 16px rgba(0, 0, 0, 0.2);
  animation: aparecer 0.3s ease;
  text-align: center;
}

@keyframes aparecer {
  from { transform: scale(0.9); opacity: 0; }
  to { transform: scale(1); opacity: 1; }
}

.modal-content.modal-detalle-producto {
  width: 90%;
  max-width: 900px;
  max-height: none;
  height: auto;
  padding: 0;
  background: white;
  border-radius: 24px;
  display: flex;
  flex-direction: column;
  overflow: visible;
  box-shadow: 0 8px 24px rgba(0,0,0,0.25);
}

.modal-detalle-header {
  padding: 20px 30px;
  font-size: 28px;
  font-weight: 600;
  border-bottom: 1px solid #ddd;
}

.modal-detalle-body {
  flex: none;
  padding: 32px;
  overflow-y: auto;
  text-align: center;
}

.modal-detalle-body img {
  width: 60%;
  max-width: 340px;
  margin: 20px auto;
  border-radius: 12px;
}

#modalNombre {
  font-size: 32px;
  font-weight: 700;
  color: #f20000;
}

#modalDescripcion {
  font-size: 18px;
  color: #444;
  margin-top: 10px;
}

#modalPrecio {
  font-family: Roboto;
  font-size: 35px;
  font-weight: 300;
  text-align: center;
  color: #f20000;
}

.modal-detalle-footer {
  padding: 20px 32px;
  background: #d7d7dd;
  display: flex;
  justify-content: space-between;
  border-top: 1px solid #ddd;
}

.modal-btn-volver,
.modal-btn-agregar {
  display: flex;
  align-items: center;
  justify-content: center;
}

/* ----------MODAL CARRITO ------------------------- */
.modal-carrito-contenedor {
  width: 60%;
  height: 95%;
  background: #fff;
  border-radius: 24px;
  padding: 32px;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

.titulo-carrito {
  text-align: center;
  font-size: 26px;
  color: #e60000;
  font-weight: 600;
  margin-bottom: 20px;
}

.lista-carrito-estilo {
  max-height: calc(3 * 160px); /* 3 items de 160px de alto */
  overflow-y: auto; 
  
}

.lista-carrito-estilo .item-carrito {
  background: #f8f9fa;
  padding: 16px;
  border-radius: 16px;
  margin-bottom: 16px;
  display: flex;
  justify-content: space-between;
  border: 1px solid #e0e0e0;
}

.lista-carrito-estilo .item-carrito img {
  width: 65%;
  height: 100%;
  object-fit: cover;
  border-radius: 12px;
}

.carrito-footer {
  padding-top: 20px;
  border-top: 1px solid #d7d7dd;
  display: grid;
  grid-template-columns: 1fr 1.3fr;
  grid-template-rows: auto auto;
  gap: 10px 30px;
  align-items: center;
}

.btn-volver-productos {
  grid-column: 1;
  grid-row: 1;
  width: 200px;
  height: 60px;
  border-radius: 40px;
  background: #000;
  color: white;
  font-size: 12px;
  border: none;
}

.btn-pago-tarjeta {
  grid-column: 2;
  grid-row: 1;
  width: 300px;
  height: 75px;
  background: #e60000;
  color: white;
  border-radius: 16px;
  border: none;
  padding: 18px;
  font-size: 18px;
  font-weight: 600;
  justify-self: end;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.carrito-total {
  grid-column: 1;
  grid-row: 2;
  width: 190px;
  background: #fff;
  border-radius: 14px;
  padding: 15px;
  text-align: center;
  box-shadow: 0 0 6px rgba(0,0,0,0.1);
}

.carrito-total span {
  color: #888;
  font-size: 15px;
}

.carrito-total strong {
  font-size: 26px;
}

.btn-pago-qr {
  grid-column: 2;
  grid-row: 2;
  width: 300px;
  height: 75px;
  background: #000;
  color: white;
  border-radius: 16px;
  border: none;
  padding: 18px;
  font-size: 18px;
  font-weight: 600;
  justify-self: end;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

@media (max-width: 992px) {
  .cards-grid {
    grid-template-columns: repeat(2, 293px);
  }
}

@media (max-width: 600px) {
  .cards-grid {
    grid-template-columns: 293px;
  }

  .modal-detalle-footer {
    flex-direction: column;
    gap: 15px;
  }
}

/* Contenedor del footer del detalle */
.modal-detalle-footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 25px 40px;
  background: #d7d7dd; 
  border-top: 1px solid #d7d7dd;
}

/* Botón más grande */
.modal-btn-volver {
  width: 180px;
  height: 60px;
  border-radius: 40px;
  font-size: 12px;
  font-weight: 500;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

/* Botón Añadir grande */
.modal-btn-agregar {
  width: 180px;
  height: 80px;
  border-radius: 18px;
  font-size: 18px;
  font-weight: 250;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 18px;
}

.modal-btn-agregar::before {
  content: "+";
  font-size: 28px;
  font-weight: bold;
  padding: 2px 16px;
  border: 3px solid white;
  border-radius: 10px;
}

.modal-btn-volver::before {
  content: "←";
  font-size: 20px;
}

/* ---------- Modal Carrito ---------- */
#modalCarrito .modal-content {
  max-height: 80vh;
  overflow-y: auto;
}

#listaCarrito .item-carrito {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 0;
  border-bottom: 1px solid #eee;
}

#listaCarrito .item-info {
  display: flex;
  align-items: center;
  gap: 12px;
}

#listaCarrito img {
  width: 50px;
  height: 50px;
  object-fit: cover;
  border-radius: 8px;
}

#listaCarrito .btn-eliminar {
  width: 125px;
  height: 35px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 6px;
  margin: 8px 10px 0 0;
  padding: 8px 12px;
  border-radius: 30px;
  border: 2px solid #f20000;
  background-color: #fff;
  color: #f20000;
  font-size: 14px;
  font-weight: 600;
  cursor: pointer;
}

#listaCarrito .btn-eliminar:hover {
  color: #a71d2a;
}

/* Modal Finalizar Compra */
#modalPago .item-pago {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 0;
  border-bottom: 1px solid #eee;
}

/* PRODUCTO DENTRO DEL CARRITO */
.item-carrito {
  background: #ebe8ff;
  padding: 14px 18px;
  border-radius: 16px;
  margin-bottom: 14px;
  display: flex;
  align-items: center;
  gap: 18px;
  border: 1px solid #e0e0e0;
  height: 150px; /* <-- TAMAÑO PERFECTO PARA QUE QUEPAN 3 */
}

/* Mantener imagen grande */
.item-carrito img {
  width: 120px;
  height: 120px;
  object-fit: contain;
  background: white;
  border-radius: 12px;
  padding: 8px;
  box-shadow: 0 0 12px #dfe3e6;
  flex-shrink: 0;
}

/* Contenedor de textos */
.item-textos {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 8px;
}

.precio-rojo {
  font-size: 28px;
  font-weight: 700;
  color: #e60000;
  margin: 0;
}

.nombre-item {
  font-size: 15px;
  font-weight: 500;
  margin: 0;
  color: #444;
}

.btn-eliminar {
  width: 140px;
  height: 48px;
  background: white;
  border: 2px solid #ff0000;
  border-radius: 20px;
  color: #ff0000;
  font-weight: 600;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 6px;
  cursor: pointer;
  transition: 0.2s;
}

.btn-eliminar:hover {
  background: #ff0000;
  color: white;
}

.nombre-tienda-carrito {
  font-size: 22px;
  color: #333;
  margin-bottom: 10px;
  font-weight: 500;
}

.item-carrito {
  background: #ebe8ff;
  padding: 20px;
  border-radius: 16px;
  margin-bottom: 16px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 1px solid #e0e0e0;
}

.item-carrito img {
  width: 65px;
  height: 65px;
  background: white;
  border-radius: 12px;
  padding: 8px;
}

.item-textos {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 4px;
}

.precio-rojo {
  font-size: 28px;
  font-weight: 700;
  color: #e60000;
  margin: 0;
}

.nombre-item {
  font-size: 16px;
  font-weight: 500;
  margin: 0;
  color: #444;
}

.btn-eliminar {
  width: 70px;
  height: 20px;
  background: white;
  border: 2px solid #ff0000;
  border-radius: 20px;
  color: #ff0000;
  font-weight: 600;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: 0.2s;
}

.btn-eliminar:hover {
  background: #ff0000;
  color: white;
}

#modalCarrito .item-carrito img {
  flex-grow: 0;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: stretch;
  margin: 0 52px 0 0;
  padding: 0;
  object-fit: contain;
  border-radius: 12px;
  box-shadow: 0 0 12px 0 #dfe3e6;
}

/* carrito para ver productos */
.carrito-footer {
  margin-left: -32px;
  margin-right: -32px;
  margin-bottom: -32px;
  padding:  20px 24px; 
  background-color: #d7d7dd !important;
}

.item-info {
  display: flex;
  align-items: center;
  gap: 20px;
  padding-left: 20px;
}



/* Diseño de MODALPAGO parecido al MODALCARRITO*/

/* Contenedor principal del modal de pago */
#modalPago .modal-content {
    width: 70%;
    max-width: 820px;
    height: 95%;
    background: #fff;
    border-radius: 24px;
    padding: 32px;
    display: flex;
    flex-direction: column;
    overflow: hidden; 
}

/* Título centrado  */
#modalPago h3 {
    text-align: center;
    font-size: 26px;
    color: #e60000;
    font-weight: 600;
    margin-bottom: 20px;
}

/* Lista de productos con scroll */
#listaPago {
    flex: 1;
    overflow-y: auto;
    padding: 10px 0;
}

/* Estilo de cada línea de producto */
#modalPago .item-pago {
    background: #f8f9fa;
    padding: 16px;
    border-radius: 16px;
    margin-bottom: 16px;
    border: 1px solid #e0e0e0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* Imagen del producto */
#modalPago .item-pago img {
    width: 65px;
    height: 65px;
    object-fit: cover;
    border-radius: 12px;
    background: #fff;
    padding: 5px;
    box-shadow: 0 0 6px rgba(0,0,0,0.1);
}

/* Footer del modal */
#modalPago .modal-footer {
    margin-left: -32px;
    margin-right: -32px;
    margin-bottom: -32px;
    padding: 32px;
    background-color: #d7d7dd !important;
    border-top: 1px solid #d7d7dd;
    display: flex;
    justify-content: flex-end;
    gap: 10px;
}

/* Sección Total en el modal pago */
#modalPago .total-section {
    border-top: 1px solid #d7d7dd;
    padding-top: 20px;
    margin-bottom: 10px;
    display: flex;
    justify-content: space-between;
    font-size: 20px;
}

#modalCarrito .item-carrito img {
  width: 120px !important;
  height: 120px !important;
  object-fit: contain !important;
  background: white;
  padding: 8px;
  border-radius: 12px;
  box-shadow: 0 0 10px #dfe3e6;
}

.modal-carrito-contenedor {
  display: flex;
  flex-direction: column;
  height: 90vh;       /* Altura fija en pantalla */
}

.carrito-footer {
  margin-top: auto;   
}
#listaCarrito {
  height: 400px;         /* 3 productos exactos */
  overflow-y: auto;      /* scroll solo con 4+ */
  padding-right: 10px;
}

/* ===== Footer del modalPago  ===== */

#modalPagoContent {
  width: 60%;
  max-width: 720px;
  height: 90vh;
  border-radius: 24px;
  padding: 32px;
  display: flex;
  flex-direction: column;
  background: #fff;
}


#listaPago {
  flex: 1;
  overflow-y: auto;
  margin-bottom: 20px;
}


.pago-footer {
  margin-top: auto;
  padding: 32px;
  margin-left: -32px;
  margin-right: -32px;
  background: #d7d7dd;
  border-top: 1px solid #c9c9c9;

  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto auto;
  gap: 20px 30px;
}


.pago-footer .btn-volver-productos {
  grid-column: 1;
  grid-row: 1;
}

.pago-footer .carrito-total {
  grid-column: 1;
  grid-row: 2;
}

.pago-footer .btn-pago-tarjeta {
  grid-column: 2;
  grid-row: 1;
  justify-self: end;
}

.pago-footer .btn-pago-qr {
  grid-column: 2;
  grid-row: 2;
  justify-self: end;
}


/* =Estilo de productos de MODALPAGO como MODALCARRITO */
#modalPago .item-pago {
    background: #f8f9fa;
    padding: 20px;
    border-radius: 16px;
    margin-bottom: 16px;
    display: flex;
    align-items: center;
    gap: 20px;
    border: 1px solid #e0e0e0;
}

/* Foto igual que modal carrito */
#modalPago .item-pago img {
    width: 120px !important;
    height: 120px !important;
    object-fit: contain;
    background: white;
    padding: 8px;
    border-radius: 12px;
    box-shadow: 0 0 12px #dfe3e6;
    flex-shrink: 0;
}

/* Contenedor de textos */
#modalPago .item-pago .textos-pago {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 6px;
}

/* Precio rojo */
#modalPago .item-pago .precio-rojo {
    font-size: 28px;
    font-weight: 700;
    color: #e60000;
    margin: 0;
}

/* Nombre del producto */
#modalPago .item-pago .nombre-item {
    font-size: 16px;
    font-weight: 500;
    color: #444;
    margin: 0;
}

/* ===== IGUALAR IMÁGENES DEL MODAL PAGO AL MODAL CARRITO ===== */

#modalPago .item-pago {
  background: #f8f9fa;
  padding: 20px;
  border-radius: 16px;
  margin-bottom: 16px;
  display: flex;
  align-items: center;
  gap: 20px;
  border: 1px solid #e0e0e0;
}

#modalPago .item-pago img {
  width: 120px !important;
  height: 120px !important;
  object-fit: contain !important;
  background: white !important;
  padding: 8px !important;
  border-radius: 12px !important;
  box-shadow: 0 0 12px #dfe3e6 !important;
  flex-shrink: 0 !important;
}

#modalPago .item-pago .textos-pago {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 6px;
}

#modalPago .item-pago .precio-rojo {
  font-size: 28px;
  font-weight: 700;
  color: #e60000;
  margin: 0;
}

#modalPago .item-pago .nombre-item {
  font-size: 16px;
  font-weight: 500;
  color: #444;
  margin: 0;
}

/* Modal base POS y QR */
.modal-pos-contenido {
  width: 420px;
  background: white;
  padding: 35px;
  border-radius: 20px;
  text-align: center;
}

/* Título del POS/QR */
.titulo-posqr {
  font-size: 22px;
  color: #333;
  margin-bottom: 20px;
}

/* Imagen POS/QR centrada */
.img-posqr {
  width: 80px;
  height: auto;
  margin: 0 auto 25px auto;
  display: block;
}

/* Botón cancelar */
.btn-cancelar-posqr {
  width: 180px;
  height: 45px;
  border-radius: 30px;
  background: white;
  border: 2px solid #e60000;
  color: #e60000;
  font-weight: 600;
  cursor: pointer;
}
.btn-cancelar-posqr:hover {
  background: #e60000;
  color: white;
}


/* Alinear precio y nombre a la derecha */
#modalPago .item-info {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

/* Contenedor del precio y nombre */
#modalPago .item-textos {
  text-align: right;       
  display: flex;
  flex-direction: column;
  align-items: flex-end;   /* Alinea ambos al mismo borde */
  width: 100%;
}

/* Ajuste visual para mantener alineadas las iniciales */
#modalPago .precio-rojo,
#modalPago .nombre-item {
  width: 70%;
  max-width: 260px;  /*  más angosto */
}
.icono-categoria {
    width: 20px;
    height: 20px;
    object-fit: cover;
    border-radius: 50%;
}
